body{
    font: 75% georgia, "Comic Sans MS";
    background: #262626;
}


.gameTable{
    background: black;
    border: 2px;
}

.gameIndexes{
    background: #696969;
    color: white;
    text-align: center;
    font-size: 35px;
    width: 30px;
    height: 50px;
}

.cellP0{
     width: 50px;
     height: 50px;
     text-align: center;

     background: #00ccff;
 }

.cellP1{
    width: 50px;
    height: 50px;
    text-align: center;

    background: #ffff00;
}

.cellP2{
    width: 50px;
    height: 50px;
    text-align: center;

    background: #66ff66;
}

.gamePiece{

}

.aboutTable{
    background: black;
    border: 8px;
}

.aboutCell{
    background: #505050;
    width: 666px;
    color: white;
    padding: 10px;
}

.aboutUnits{
    margin-left: 20%;
}

h1{
    text-align: center;
    font-weight: bold;
}

h2{
    text-align: center;
}

h4{
    font-style: italic;
    margin-left: 5%;
}