@()

<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/main.css")' />
        <meta charset="UTF-8">
        <title>Slay Rules and History</title>
    </head>
    <body bgcolor="#262626">
        <table border="1" bgcolor="black">
            <tbody>
                <tr>
                    <td width="666" bgcolor="#505050">
                        <font color="white"/>
                        <h1>Slay - Rules and History</h1>
                        <h3>History</h3>
                        Slay was originally created by Sean O'Connor for the Atari ST in 1989 and was later developed for Windows.
                        Slay is a turn based strategy game for 1 to 6 players of which up to 5 can be AI players.
                        The playing field is an island divided into hexagons. Your goal is to conquer the island by buying men
                        and using them to capture your enemies' hexagons.
                        <br> <br>
                        In this adaptation of the game, the playing field is divided into rectangles instead of hexagons
                        and meant to be played by 2 people.

                        <h3>Rules</h3>
                        <h4>Playing the Game</h4>
                        The land that you own is divided into territories of adjoining rectangles.
                        Each territory of two or more rectangles in size will have its own capital, shown by a house.
                        The money that a territory has is kept in the capital. You can check the available money of
                        a capital by checking the balance of any field of the territory the capital is in.
                        If you have enough money you can buy a new man on any field in the territory
                        <br> <br>
                        You can move your men once every turn to capture enemy rectangles or defend your own rectangles.
                        Your men will not be able to move to a enemy rectangle, if the enemies' men are too strong.
                        If you want to attack a rectangle which is well defended
                        you can combine two of your men to produce a single, stronger man.
                        <br> <br>
                        After a man has moved there will be a red marking next to him to show that he can not be moved anymore this turn.

                        <h4>Money</h4>
                        At the beginning of every turn each of your territories earns 1 credit for each rectangle
                        which is in it. However, the territory has to pay wages
                        to the men that are in it. The costs for different men are (the more expensive men are
                        created by combining the cheaper ones):
                        <br> <br>
                        Peasant     2   <br>
                        Spearman    6   <br>
                        Knight      18  <br>
                        Baron       54  <br>
                        <br>
                        Castles cost nothing to maintain.
                        <br> <br>
                        You can use the territory's money to buy new men or castels.
                        A new peasant costs 10 and a castle costs 15.
                        <br> <br>
                        If a territory does not have enough money to pay its people it will go bankrupt and
                        all its men will die, turning into gravestones.
                        <br> <br>
                        You can see the financial state of one of your territories by checking the balance of
                        one of the fields in territory.

                        <h4>Combining Men</h4>
                        You can create stronger men by placing one of your men on top of another one in the same territory.
                        The strength of the new man that you create will be the sum of the strengths of the two individual men.
                        <br> <br>
                        The different men are:
                        <br> <br>
                        Peasant strength 1  <br>
                        Spearman strength 2 <br>
                        Knight strength 3 <br>
                        Baron strength 4 <br>
                        <br>
                        For example:
                        <br> <br>
                        If you put a peasant (strength 1) onto another of your peasants (strength 1) you will produce a spearman (strength 2):
                        <br> <br>
                        If you put a peasant (strength 1) onto one of your spearman (strength 2) you will produce a knight (strength 3).
                        <br> <br>
                        If you put a spearman (strength 2) onto another spearman (strength 2) you will produce a Baron (strength 4).
                        <br> <br>
                        Be careful because stronger men cost more money to maintain and if your territory goes bankrupt then all its men will die.
                        <br> <br>

                    </td>
                </tr>
            </tbody>
        </table>


    </body>
</html>