@(title: String, style: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
@*      <meta http-equiv="Content-Security-Policy" content="default-src 'self' 'unsafe-inline' 'unsafe-eval'; script-src 'self' 'unsafe-inline' 'unsafe-eval'; connect-src 'self' 'unsafe-inline'; style-src 'self' 'unsafe-inline';">*@
        <title>@title</title>
        <link rel="stylesheet" href='@routes.Assets.versioned(s"stylesheets/$style.css")' />
        <link rel="stylesheet" href='@routes.Assets.versioned(s"stylesheets/bootstrap.min.css")' />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
        <script src="@routes.Assets.versioned("javascripts/jquery-3.4.1.min.js")"> </script>
        <script src="@routes.Assets.versioned("javascripts/vue.js")"> </script>
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/@@mdi/font@@4.x/css/materialdesignicons.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/vuetify@@2.x/dist/vuetify.min.css" rel="stylesheet">

    </head>

    <body>

        <div id="app">
            @content
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue@@2.x/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vuetify@@2.x/dist/vuetify.js"></script>

        <script src="@routes.Assets.versioned("javascripts/slayVue.js")"> </script>
    </body>
</html>