@(title: String, style: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>@title</title>
        <link rel="stylesheet" href='@routes.Assets.versioned(s"stylesheets/$style.css")' />
        <link rel="stylesheet" href='@routes.Assets.versioned(s"stylesheets/bootstrap.min.css")' />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
        <script src="@routes.Assets.versioned("javascripts/jquery-3.4.1.min.js")"> </script>
    </head>
    <body class="bg-secondary">
        @content
    </body>
</html>